<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>농장 추가</title>
</head>
<body>
    <h2>농장 추가</h2>
    <form method="POST">
        <label>농장이름:</label><br>
        <input type="text" name="name"><br><br>
    
        <label>면적(m²):</label><br>
        <input type="number" step="0.01" name="area"><br><br>
    
        <label>위치:</label><br>
        <input type="text" name="location"><br><br>
    
        <!-- <label>농장주 (사용자명):</label><br> -->
        <!-- <input type="text" name="owner"><br><br> -->
    
        <button type="submit">저장</button>
    </form>    

    <br>
    <a href="/">← 돌아가기</a>
</body>
</html>
